# Enable aliases to be sudo.ed
alias sudo='sudo '

# Color!
alias ls='command ls --color=auto'
alias grep='command grep --color=auto'

# Command Shortcuts
# Directory Listings
alias ll='ls -alh'

# Default to human readable figures
alias df='df -h'
alias du='du -h'

# Faster directory navigation
alias ..='cd ..'
alias ...='cd ../..'
alias -- -='cd -'

# IP Addresses
alias remoteip='dig myip.opendns.com @resolver1.opendns.com +short'
alias localip='ip -4 -o addr show eth0 | egrep -o "([[:digit:]]{1,3}\.){3}[[:digit:]]{1,3}" | head -n 1'

# OS X Aliases
if [[ "$OSTYPE" =~ ^darwin ]]; then
	source .aliases_osx
fi

# Allow for dotfiles to be updated
alias update_dotfiles='cd ~ && curl -Lk# https://github.com/n8felton/dotfiles/tarball/master | tar --strip-components 1 -xz && source .bash_profile'

nano() { echo "Starting a real editor..."; sleep 1; /usr/bin/vim "$@"; }
